*.swp
*~

obfs4proxy/obfs4proxy
stateDir/obfs4_state.json
common/.DS_Store
stateDir/dispatcher.log
stateDir/obfs4_bridgeline.txt
.DS_Store
stateDir/dispatcher.log
stateDir/dispatcher.log
stateDir/dispatcher.log
.idea
stateDir/dispatcher.log
stateDir/dispatcher.log
.idea/inspectionProfiles/Project_Default.xml
TransportState/dispatcher.log
*.log
shapeshifter-dispatcher
*.json
*.json
bloomfilter.gob
go.sum
